
@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/HelveticaNeue-Thin-webfont.eot');
    src: url('../fonts/HelveticaNeue-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Thin-webfont.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-Thin-webfont.woff') format('woff'),
    url('../fonts/HelveticaNeue-Thin-webfont.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Thin-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    position: relative;
    font-family: "helvetica_neueregular", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-b-20 {
    margin-bottom: 20px;

}

.margin-t-10 {
    margin-top: 10px;
}

.margin-tb-10 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.padding-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-lr-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-t-20 {
    padding-top: 20px;
}

.padding-t-60 {
    padding-top: 60px;
}

.relative {
    position: relative;
}

.brown {
    background-color: #2D0A1B;
}

.icon {
    margin-top: -4px;
}

.main-container {
    padding-bottom: 110px;
}

.width-full {
    width: 100%;
}

/* LOGIN STYLES  */

.login-bg {
    background-color: rgba(0,0,0,0.7);
}

.vcc-top {
    float: left;
    padding: 5px 10px;
}
#logout-bt {
    float: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px 3px;
    height: 90px;
}

.no-padding {
    padding: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.border-b-0 {
    border-bottom: 0 !important;
}
.vcc-logo {
    padding: 125px 0 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #424242;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 12px;
}

.footer a {
    text-decoration: none !important;
    color: #fff;
    margin-right: 30px;
}


.footer a:hover {
    text-decoration: none !important;
    color: #fff;
}


#speaker-name {
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.chat {
    background-color: #fff !important;
    color: #201A1E;
}

.chat-box {
    max-height: 280px;
    overflow-x: hidden;
    padding-right: 5px;
    width: 105%;
    padding-bottom: 10px;
}

#chat-messages {
    float: left;
    padding: 0;
    list-style: none;
    min-height: 250px;
    width: 100%;
    padding-right: 10px;
}

.chat-msg {
    font-size: 14px;
    color: #000;
}

.chat-msg .msg {
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #E8E8E8;
    margin-bottom: 10px;
}

#box-msg {
    padding: 7px;
    font-size: 12px;
}

#speaker {
    height: 160px;
    margin: 5px 0;
    background-color: #ccc;
}

#speaker .OT_name {
    display: none !important;
}

.info-bt {
    float: right;
    margin-top: -6px;
}

#connectionsPanel {
    background-color: #fff;
}

#subscribers .OT_subscriber {
    width: 48% !important;
    float: left;
    height: 90px !important;
}

#subscribers .OT_subscriber.active {
    border: 3px solid #923263;
}

#subscribers .OT_subscriber:nth-child(2n)  {
    float: right;
}

.description {
    border-right: 1px solid #fff;
}

.description h4 {
    font-size: 21px;
    font-weight: 300;
}

.description p {
    font-size: 15px;
    line-height: 18px;
}

#user {
    width: 100%;
    height: 160px !important;
    margin-bottom: 10px;
    background-color: #CCC;
}

#countdown {
    margin: 0;
}

.countdown {
    padding: 7px 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 50px;
    font-weight: bold;
}

.count-label {
    font-weight: 300;
    font-size: 13px;
    display: inline-block;
    margin-top: 17px;
    margin-bottom: 5px;
}