body {
    background-color: #902B69;
}

.room {
    color: #fff;
}
.navbar {
    margin-bottom: 0;
}

.panel, .panel-heading {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.ms-ctn .ms-sel-item {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    color: #676767;
}

.OT_publisher, .OT_subscriber {
    width: 100% !important;
    height: 160px !important;
    margin-bottom: 10px;
}

.panel-body {
    padding : 10px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 300;
    color: inherit;
    letter-spacing: 0px;
}


.panel-title.pink {
    color: #923263 !important;
}

.panel-heading {
    padding: 8px 8px 5px 8px;
}

.owl-carousel.owl-loaded {
    float: left;
}

.owl-carousel {
    padding: 10px;
    background-color: #fff;
}

.navbar-brand {
    float: left;
    height: 90px;
    padding: 10px 40px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
    text-align: left;
    width: 31%;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px solid #000;
}